<main >
    <div class="row gy-5">
     <section class="col-12">
        <div class="card text-br-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product #2452</h5>
                <p class="text-br-secondary">USB Type..</p>
                <a href="#" class="btn btn-primary">Open</a>
            </div>
        </div>
    </section>

    <section class="col-12">
        Test
    </section>
    </div>

    <br>
    <br>
    <br>

      <div class="card text-br-pimary">
        <div class="card-header">
            <h5 class="display-6">Menu</h5>
         </div>
        

            <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Home page</a>
                <ul class="List-group">
                    <li class="List-group-item">Item 1.1</li>
                    <li class="List-group-item">Item 1.2</li>
                </ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Sammary page</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Mac page</a>
                </li>
            </ul>  

            <div class="card-footer">
                <button class="btn btn-dark btn-sm">Update list</button>
            </div>   
    </div>

    <br>
    <br>
    <br>
     
     <table class="table table-striped table-brodered text-bg-success">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <body>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Inna</td>
                <td>40</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Igor</td>
                <td>10</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Inna</td>
                <td>20</td>
            </tr>
        </body>
     </table>

     <br>
     <br>
     <br>

     <div class="card text=bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Clik!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
     </div>

     <br>
     <br>
     <br>

     <div class="rov">
        <div class="col=3">
            <div class="card text=bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Clik!</button>
            </div>
          <div class="card-footer text-center">Footer</div>
        </div>
      </div>
   
     <div class="rov gx-5 gy-1">
     <div class="col=3">
            <div class="card text=bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Clik!</button>
                </div>
          <div class="card-footer text-center">Footer</div>
        </div>
     </div>
      <div class="rov">
        <div class="col=6">
            <div class="card text=bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Clik!</button>
                </div>
            <div class="card-footer text-center">Footer</div>
        </div>
      </div>
     </div>

</main>