<main>
  <h1 class="text-center text-uppercase">hello world</h1>
  <h2 class="text-and text-lowercase">sekond</h2>
  <h3 text="text-capitalize">3 title one two</h3>

  <hr>
    <div class="displey-1">hello world</div>
    <div>sekond="displey-5"</div>
    <br>

    <div class="text-muted text-and">
       додатковий текст <span class="display-6"></span>
    </div>

    <hr>

    <a href="a" class="btn btn-primary">
        Button primary
    </a>
       

    <button class="btn btn-primary">
        <span class="text-uppercase"> button primary</span>
    </button> 
    <hr>

    <p class="text-primary">My text</p>
    <p class="text-muted">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary  btn-lg">Додати</button>
            <button class="btn btn-online-secondary btn-sm">Редагувати</button>
            <button class="btn btn-online-danger">Видалити</button>
        </div>
    </div>

    
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>



</main>