
<div>
    <main>
            <h1 class="text-center text-uppercase">InnovaMind</h1>
            <h1 class="text-center text-uppercase">Welcome to our wonderful community</h1>

            <hr>
            <div class="text-and">
                InnovaMind <span class="display-6"></span>
                <h2 class="text-and ">InnovaMind is a forward-thinking startup focused on innovation. We are dedicated to creating efficient and powerful software through the use of first-class functions.</h2>
            </div>

            <button class="btn btn-primary display-5">
                    <span class="Show more"> button primary</span>
            </button> 

                
                <div class="displey-4">Advantage</div>
                <div class="text-uppercase ">Efficiency</div>
                <h6 class="text-uppercase">Streamline your software development</h6>
                <p> description: {{Streamline your software development with our innovative platform...}}</p>
                <button class="btn btn-primary">
                    <span class="Show more"> button warning</span>
                </button>
                <br>

            <h4 class="text-center displey-4">Collaboration</h4>
            <h6 text="text-capitalize">Connect with like-minded developers</h6>
            <div class="text-center ">Connect with a community of like-minded developers to share knowledge and insights...</div>
            <button class="btn btn-primary">
                    <span class="Show more"> button warning</span>
            </button>

            <hr>
                <div class="displey-5 text-uppercase">Terms of use</div>
                <div>sekond="displey-5"</div>
                <br>

                <div class="text-uppercase">
                   Terms of use <span class="display-5"></span>
                </div>

                <br>

                <a href="a" class="btn btn-primary">
                    Button primary
                </a>
                
                <div class="text-uppercase ">By using or accessing the service, you agree to be bound by the terms and conditions outlined in the agreement.</div>
                <button class="btn btn-Success">
                    <span class="Accep"> button success</span>
                </button> 
                <hr>
                
                <br>
                <br>

                <div class="card">
                    <div class="card-body">
                        This is content
                    </div>
                </div>   
     </main>
</div>

