<div class="card pe-3">
      <ul class="row">
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info active" href="/">Home</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/skills">skills</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/summary">summary</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/education">education</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/work">work</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/person">person</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/bio">bio</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/program">program</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/web">web</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/js">js</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/car">car</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/mac">mac</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/facebook">facebook</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/bootstrapOld">bootstrapOld</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/task21">task21</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/task22">task22</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/bootstrap">bootstrap</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/task31">task31</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shophome">shophome</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shoporder">shoporder</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shopcart">shopcart</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shopprofile">shopprofile</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shopreview">shopreview</a>
        </li>
        <li class="col-2 mt-3">
          <a class="btn btn-outline-info" href="/shopcatalog">shopcatalog</a>
        </li>
      </ul>
    </div>